body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}


.visually-hidden {
  position: absolute;
  left: -9999px;
}

